<div class="publication">
<div class="publicationleft">
<i class="fa fa-file-text"></i>
1
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>A highly configurable and efficient simulator for job schedulers on
  supercomputers.
<BR/>Mitteilungen - Gesellschaft f&#252;r Informatik e. V.,
  Parallel-Algorithmen und Rechnerstrukturen, pages 25-36. 25th PARS -
  Workshop, Erlangen(Germany), 04/11 - 04/12 2013.
<BR/> <A target="_blank"
  HREF="http://juser.fz-juelich.de/record/137329"><span class="underline">http://juser.fz-juelich.de/record/137329</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-file-text"></i>
2
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>Design and implementation of a highly configurable and efficient
  simulator for job schedulers on supercomputers.
<BR/>Master's thesis, FH-Aachen, University of Applied Sciences, August
  2012.
<BR/> <A target="_blank"  
  HREF="http://hdl.handle.net/2128/4703"><span class="underline">http://hdl.handle.net/2128/4703</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-file-text"></i>
3
</div>
<div class="publicationright">
G.R. Watson, W.&nbsp;Frings, C.&nbsp;Knobloch, C.&nbsp;Karbach, and A.L. Rossi.
<BR/>A scalable control and monitoring framework to aid the development of
  supercomputer applications, 2012.
<BR/>
   <A target="_blank"  
  HREF="http://wwwx.cs.unc.edu/~tgamblin/whist-2012/papers/whist-2012-watson.pdf"><span class="underline">http://wwwx.cs.unc.edu/~tgamblin/whist-2012/papers/whist-2012-watson.pdf</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-file-text"></i>
4
</div>
<div class="publicationright"> 
G.R. Watson, W.&nbsp;Frings, C.&nbsp;Knobloch, C.&nbsp;Karbach, and A.L. Rossi.
<BR/>Scalable control and monitoring of supercomputer applications using
  an integrated tool framework.
<BR/>In <EM>Parallel Processing Workshops (ICPPW), 2011, 40th
  International Conference on, Edited by Jang-Ping Sheu, National Tsing Hua
  University, Taiwan; Cho-Li Wang, The University of Hong Kong, China, IEEE,
  2011, 978-1-4577-1337-8, 457 - 466</EM>, 2011.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/18001"><span class="underline">http://juser.fz-juelich.de/record/18001</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-file-text"></i>
5
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>Konzeption und Umsetzung einer Beschreibungssprache f&#252;r
  Statusinformationen von Parallelrechnern als Basis einer Webschnittstelle f&#252;r
  LLview, August 2010.
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
6
</div>
<div class="publicationright"> 
Carsten Karbach.
<BR/>System Monitoring and Job Reports with LLview
<BR/>Introduction to Supercomputing JSC, Jülich, Training Programme 2017, 11/23 2017 - 11/24 2017.
<BR/> <A target="_blank"  
  HREF="https://juser.fz-juelich.de/record/842744"><span class="underline">https://juser.fz-juelich.de/record/842744</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
7
</div>
<div class="publicationright"> 
Carsten Karbach.
<BR/>System monitoring with LLview and the Parallel Tools
  Platform.
<BR/>Joint INRIA-ANL-UIUC-BSC Workshop, Chicago(USA), 11/24 - 11/26 2014.
<BR/> <A target="_blank"  
  HREF="https://juser.fz-juelich.de/record/172198"><span class="underline">https://juser.fz-juelich.de/record/172198</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
8
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>Computer-Based Holography.
<BR/>JSC-internes Seminar Holographie, (Germany), 10/29 - 10/29 2013.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/138706"><span class="underline">http://juser.fz-juelich.de/record/138706</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
9
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>Computer-Based Holography.
<BR/>2nd Annual CHANGES Workshop, Chicago(USA), 09/10 - 09/12 2013.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/137331"><span class="underline">http://juser.fz-juelich.de/record/137331</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
10
</div>

<div class="publicationright">
Carsten Karbach.
<BR/>Parallel Tools Platform (PTP).
<BR/>Introduction to the programming and usage of the supercomputing
  resources in J&#252;lich, J&#252;lich(Deutschland), 05/16 - 05/17 2013.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/134207"><span class="underline">http://juser.fz-juelich.de/record/134207</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
11
</div>

<div class="publicationright">
Carsten Karbach.
<BR/>Eclipse Parallel Tools Platform (PTP).
<BR/>LLview/PTP Installation f&#252;r TU-Dresden, Technische Universit&#228;t
  Dresden(Deutschland), 04/25 - 04/26 2013.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/133718"><span class="underline">http://juser.fz-juelich.de/record/133718</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
12
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>A highly configurable and efficient simulator for job schedulers on
  supercomputers.
<BR/>25. PARS-Workshop, Erlangen(Deutschland), 04/11 - 04/12 2013.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/133223"><span class="underline">http://juser.fz-juelich.de/record/133223</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
13
</div>
<div class="publicationright">
Carsten Karbach.
<BR/>PTP is watching your supercomputer.
<BR/>JSC-Jahresabschlusskolloquium 2012, J&#252;lich, 12/13 2012.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/128046"><span class="underline">http://juser.fz-juelich.de/record/128046</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
14
</div>
<div class="publicationright">
Carsten Karbach and Wolfgang Frings.
<BR/>Monitoring system basics, and adding support for a new batch system.
<BR/>NCSA Eclipse PTP User-Developer Workshop, Schiller Park, IL, USA, and
  J&#252;lich, Germany, 09/18 - 09/20 2012.
<BR/> <A target="_blank"  
  HREF="http://juser.fz-juelich.de/record/128126"><span class="underline">http://juser.fz-juelich.de/record/128126</span></A> .
</div>
</div>

<div class="publication">
<div class="publicationleft">
<i class="fa fa-comment"></i>
15
</div>
<div class="publicationright">
G.&nbsp;Watson, Carsten Karbach, and Claudia Knobloch.
<BR/>Developing Scientific Applications with the Eclipse Parallel Tools
  Platform (PTP).
<BR/>In <EM>PTP-Tutorial at JSC</EM>, 2012.
<BR/><A target="_blank"
  HREF="http://juser.fz-juelich.de/record/21559"><span class="underline">http://juser.fz-juelich.de/record/21559</span></A>.
</div>
</div>