<script type="text/javascript">
  google.charts.setOnLoadCallback(drawChartSmall);
  function drawChartSmall() {
    var options = {
      title: 'Resume Overview',
      vAxis: {textStyle:{fontSize: 6}},
      isStacked: true,
      legend: { position: 'right', textStyle:{fontSize: 6} },
      aggregationTarget: 'none',
      chartArea:{left:'10%',top:'10%',width:'65%',height:'70%'},
      hAxis: {textStyle:{fontSize: 6}},
      backgroundColor: 'none',
      connectSteps: false,
      lineWidth: 0,
     };

    var chart = new google.visualization.SteppedAreaChart(document.getElementById('cv_chart_small'));
	var data = getData('small','en');
    
    chart.draw(data, options);
    
    google.visualization.events.addListener(chart, 'select', function() {
    	selectionHandler(chart,data);
  	});
  }
</script>

<div class="smallChart" id="cv_chart_small"></div>