<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  function redrawCharts(){
	  drawChartSmall();
	  drawChart();
  }
  
  window.onresize = redrawCharts;
  
  google.charts.load("visualization", "1", {packages:["corechart"]});
  function getData(mysize, language){
	  var pastYears = '1998-2006';
	  var school = 'Secondary School';
	  var edu = 'Professional Education';
	  var bachelor = 'Bachelor';
	  var master = 'Master';
	  var time = 'Time';
	  var eduBegin = 'Begin of Professional Education';
	  var bachelorThesis = 'Bachelor\'s Th.';
	  var masterThesis = 'Master\'s Th.';
	  var finalExam = 'Final Exams';
	  var work = 'Work';
	  var holo = 'Holography';
	  var llview = 'PTP/LLview';
	  var jards = 'JARDS';
	  var sivegcs = 'SiVeGCS';
	  var hbp = 'HBP';
	  var jumo = 'Usage Model';
	  
	  if(language=='de'){
		  school = 'Gymnasium';
		  edu = 'Ausbildung';
		  time = 'Zeit';
		  eduBegin = 'Ausbildungsbeginn';
		  bachelorThesis = 'Bachelorarbeit';
		  masterThesis = 'Masterarbeit';
		  finalExams = 'Abschlussprüfungen';
		  work = 'Arbeit';
		  holo = 'Holografie';
	  }
	  
	  if(mysize == 'small'){
		  if(language == 'de'){
			  bachelorThesis = 'Ba.-Arbeit';
			  masterThesis = 'Ma.-Arbeit';
		  }
		  else{
			  pastYears = '98-06';
			  school = 'Sec. School';
			  edu = 'Prof. Education';
			  bachelorThesis = 'Ba. Th.';
			  masterThesis = 'Ma. Th.';
		  }
	  }
	  
	  var data = google.visualization.arrayToDataTable([
	      [time,  			school,	edu,	bachelor,	master,	llview,	jards,	holo,	sivegcs,	hbp,	jumo],
	      [pastYears,   	100,	0,		0,			0,		0,		0,		0,		0,			0,		0],
	      ['01/2007',   	100,	0,		0,			0,		0,		0,		0,		0,			0,		0],
	      ['04/2007',   	100,	0,		0,			0,		0,		0,		0,		0,			0,		0],
	      ['07/2007',   	100,	0,		0,			0,		0,		0,		0,		0,			0,		0],
	      ['10/2007',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      
	      ['01/2008',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['04/2008',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['07/2008',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['10/2008',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      
	      ['01/2009',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['04/2009',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['07/2009',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['10/2009',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      
	      ['01/2010',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['04/2010',   	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      [bachelorThesis,	0,		50,		50,			0,		0,		0,		0,		0,			0,		0],
	      ['10/2010',		0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      
	      ['01/2011',		0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      ['04/2011',		0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      ['07/2011',		0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      ['10/2011',		0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      
	      [masterThesis,	0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      [masterThesis,	0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      [masterThesis,	0,		0,		0,			66,		34,		0,		0,		0,			0,		0],
	      ['10/2012',		0,		0,		0,			0,		100,	0,		0,		0,			0,		0],
	      
	      ['01/2013',		0,		0,		0,			0,		50,		0,		50,		0,			0,		0],
	      ['04/2013',		0,		0,		0,			0,		50,		0,		50,		0,			0,		0],
	      ['07/2013',		0,		0,		0,			0,		50,		0,		50,		0,			0,		0],
	      ['10/2013',		0,		0,		0,			0,		50,		0,		50,		0,			0,		0],
	      
	      ['01/2014',		0,		0,		0,			0,		50,		25,		25,		0,			0,		0],
	      ['04/2014',		0,		0,		0,			0,		50,		25,		25,		0,			0,		0],
	      ['07/2014',		0,		0,		0,			0,		50,		25,		25,		0,			0,		0],
	      ['10/2014',		0,		0,		0,			0,		50,		25,		25,		0,			0,		0],
	      
	      ['01/2015',		0,		0,		0,			0,		0,		75,		25,		0,			0,		0],
	      ['04/2015',		0,		0,		0,			0,		0,		75,		25,		0,			0,		0],
	      ['07/2015',		0,		0,		0,			0,		0,		75,		25,		0,			0,		0],
	      ['10/2015',		0,		0,		0,			0,		0,		75,		25,		0,			0,		0],
	      
	      ['01/2016',		0,		0,		0,			0,		0,		75,		0,		0,			25,		0],
	      ['04/2016',		0,		0,		0,			0,		0,		75,		0,		0,			25,		0],
	      ['07/2016',		0,		0,		0,			0,		0,		75,		0,		0,			25,		0],
	      ['10/2016',		0,		0,		0,			0,		0,		75,		0,		0,			25,		0],
	      
	      ['01/2017',		0,		0,		0,			0,		0,		25,		0,		50,			25,		0],
	      ['04/2017',		0,		0,		0,			0,		0,		25,		0,		50,			25,		0],
	      ['07/2017',		0,		0,		0,			0,		0,		25,		0,		50,			25,		0],
	      ['10/2017',		0,		0,		0,			0,		0,		25,		0,		50,			25,		0],
	      
	      ['01/2018',		0,		0,		0,			0,		0,		25,		0,		50,			0,		25],
	      ['04/2018',		0,		0,		0,			0,		0,		25,		0,		50,			0,		25],
	      ['07/2018',		0,		0,		0,			0,		0,		25,		0,		50,			0,		25],
	      ['10/2018',		0,		0,		0,			0,		0,		25,		0,		50,			0,		25],
	      
	      ['01/2019',		0,		0,		0,			0,		0,		25,		0,		75,			0,		0],
	    ]);
	  return data;
  }
  
	/**
	* Get the selected column
	* @param chart google's chart object
	* @param data the data array returned by getData()
	*/
	function getSelectedColumn(chart, data) {
		var selection = chart.getSelection();
		if(selection.length != 1){
			return null;
		}
		var item = selection[0];
		return item.column;
	}
	
	/**
	* Handle the selection of a column
	* @param chart google's chart object
	* @param data the data array returned by getData()
	*/
	function selectionHandler(chart, data){
		var colid = getSelectedColumn(chart, data);
		if(colid == null){
			return;
		}
		var columnToTarget = [null, null, null, null, '#projects', '#publications'];
		
		if(colid >= 0 && colid < columnToTarget.length){
			var targetId = columnToTarget[colid];
			if(targetId != null){
				$(targetId).scrollToTarget();
			}
		}
	}
</script>